options/window.state.xml
user.web.token
idea.key
pdb.pwd
c.kdbx
codestyles/Default.xml
consoles/
extensions/
jdbc-drivers/
migration/
*.jar
port
port.lock
tasks/
options/debugger.renderers.xml
options/databaseSettings.xml
options/databaseDrivers.xml
options/colors.scheme.xml
options/dimensions.xml
options/baseRefactoring.xml
options/debugger.xml
options/editor.codeinsight.xml
options/jboss.extensions.xml
options/javaeeExternalResources.xml
options/filetypes.xml
options/extensionsRootType.xml
options/jdk.table.xml
options/ignore.xml
options/javaeeAppServers.xml
options/images.support.xml
options/find.xml
options/markdown.xml
options/laf.xml
options/recentProjects.xml
options/path.macros.xml
options/other.xml
options/options.xml
options/projectSelectTemplate.xml
options/project.default.xml
options/plugin_ui.xml
plugins/availables.xml.etag
plugins/availables.xml
plugins/extensions.xml
options/updates.xml
options/toStringTemplates.xml
options/stubIndex.xml
options/runner.layout.xml
options/window.manager.xml
options/usage.statistics.xml
